<html>
<head>
    <title>Yumemi.vue #1 DEMO2</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<body>
    <!-- Header START -->
    <div class="nav">
        <p class="nav-title">Yumemi.vue #1</p>
        <a href="./demo.html" class="nav-link">DEMO1</a>
        <a href="./demo2.html" class="nav-link">DEMO2</a>
    </div>
    <!-- Header END -->

    <!-- App START -->
    <div id="app" v-cloak>
        <input type="number" v-model="buffer" min="3" />
        <a @click="apply" class="btn" >calc</a>
        <a @click="show" class="btn" >show</a>
        <p v-if="isShow">{{ heavy }}</p>
    </div>
    <!-- App END -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                isShow: true,
                buffer: 50000,
                num   : 3,
            },
            methods: {
                apply: function () {
                    this.num = this.buffer;
                },
                show: function () {
                    this.isShow = !this.isShow;
                }
            },
            computed: {
                heavy: function() {
                    // bubble sort (O(n^2))
                    let a = [];
                    for (let i = this.num;i;i--) a.push(Math.random());
                    for(var i = 0; i < a.length; i++){
                        for(var j = a.length-1; j>i ; j-- ){
                            if(a[j]<a[j-1]){
                                var tmp = a[j];
                                a[j] = a[j-1];
                                a[j-1] =tmp;
                            }
                        }
                    }
                    return a.slice(0,3);
                }
            }
        });
    </script>
</body>
</html>