<html>
<head>
    <title>Yumemi.vue #1</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<body>
    <div id="app">
        <input type="number" v-model="buffer" />
        <button @click="apply()">apply</button>
        <button @click="show">show</button>
        <p v-if="isShow">{{ fib }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                isShow: false,
                buffer: 0,
                num   : 10000000
            },
            methods: {
                apply: function () {
                    this.num = this.buffer;
                },
                show: function () {
                    this.isShow = !this.isShow;
                }
            },
            computed: {
                fib: function() {
                    let v = 1;
                    for (let i = 0;i<this.num;i++) {
                        v = v + i;
                    }
                    return v;
                }
            }
        });
    </script>
</body>
</html>