<html>
<head>
    <title>Yumemi.vue #1</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<body>
    <div id="app" v-cloak>
        <input type="number" v-model="buffer" />
        <a @click="apply">apply</a>
        <a @click="show">show</a>
        <p v-if="isShow">{{ heavy }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                isShow: true,
                buffer: 0,
                num   : 0,
            },
            methods: {
                apply: function () {
                    this.num = this.buffer;
                },
                show: function () {
                    this.isShow = !this.isShow;
                }
            },
            computed: {
                heavy: function() {
                    let v = 0, w = this.num;
                    while (w--) {
                        v += w;
                    }
                    return v;
                }
            }
        });
    </script>
</body>
</html>