html {
    user-select: none;
    touch-action:none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #574f7d;
    color: #dff0ea;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#app {
    width: 80%;
    height: 80%;
}

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #4f3a65;
}

.nav-title {
    font-size: 1rem;
    font-weight: bold;
    color: #dff0ea;
    letter-spacing: 3px;
    padding: 5px 15px 5px 15px;
}

.nav-link {
    position: relative;
    display: inline-block;    
    font-size: 0.8rem;
    text-decoration: none;
    color: #dff0ea;
    padding: 2px;
    margin: 3px;
}

.nav-link::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #dff0ea;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.nav-link:hover::after {
    bottom: -2px;
    opacity: 1;
    visibility: visible;
}

.btn {
    padding: 10px;
    text-align: center;
    color: #dff0ea;
    font-size: 1rem;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #4f3a65;
    border-bottom: solid 0.2rem #95adbe;
    border-radius: 10px;
}

.btn:active {
    transform: translateY(0.2rem);
    border-bottom: none;
}

.btn:focus {
    outline: 0;
}

input[type="number"] {
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    background: #4f3a65;
    color: #dff0ea;
    border: none;
    border-bottom: solid 0.2rem #95adbe;
    border-radius: 10px;
    border-radius: 0;
    outline: none;
    appearance: none;
}